footer {
  display: flex;
  justify-content: center;
  height: 308px;
  background-color: #f4f7ff;
}
.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 50px;
}
.col-1 .title {
  margin-bottom: 10px;
}
.col-2,
.col-3 {
  padding: 0px 50px;
}
.col-4 {
  padding-left: 50px;
}
.head-text {
  font-weight: 600;
  margin-bottom: 15px;
}
.footer-text {
  color: #c1c5d0;
}
.sub-text {
  margin-bottom: 10px;
}
.bottom-text {
  font-weight: 600;
  font-size: 16px;
  color: #5a7184;
}
